---
import { Image } from "astro:assets";
import heroImage from "../../assets/images/sections/blog-responsive.jpg";
const { title, lead, meta } = Astro.props;
---

<section class="relative">
  <div class="pointer-events-none absolute inset-y-0 left-1/2 w-screen -translate-x-1/2 bg-black"></div>
  <div class="grid grid-cols-1 md:grid-cols-[minmax(0,1.66fr)_minmax(0,1fr)] min-h-[320px] relative">
    <div class="relative flex flex-col justify-center pb-8 pt-28 md:pb-16 md:pt-32 z-10">
      <div class="text-[8px] md:text-[10px] uppercase tracking-[0.1em] text-gray-400 mb-3 md:mb-6 font-semibold">
        <span>Główna</span>
        <span class="text-[var(--accent)]"> > </span>
        <span class="text-white">{title}</span>
      </div>
      <h1 class="text-3xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold leading-[1.1] tracking-tight text-white max-w-2xl">
        {title}
      </h1>
      <div class="hidden lg:block absolute right-0 bottom-0 w-32 h-32 bg-[var(--accent)] z-20"></div>
    </div>
    <div class="relative min-h-[160px] lg:min-h-full">
      <div class="absolute inset-0 group overflow-hidden">
        <Image
          src={ heroImage }
          alt="Proces projektowy" 
          class="size-full object-cover grayscale opacity-80 group-hover:grayscale-0 group-hover:scale-105 transition-all duration-700"
          widths={[320, 480, 768]}
          sizes="(max-width: 1024px) 100vw, 420px"
      />
        <div class="lg:hidden absolute left-[21vw] top-0 w-18 h-18 bg-[var(--accent)] z-20"></div>
      </div>
      <div class="hidden lg:block absolute left-0 bottom-32 w-32 h-32 bg-white z-20"></div>
    </div>
  </div>
</section>

  <section class="relative py-5 flex flex-row items-center justify-between border-b border-gray-200">
    {meta ? (
      <p class="text-xs font-semibold uppercase tracking-[0.2em] text-[var(--accent)]">{meta}</p>
    ) : (
      <div class="flex flex-wrap items-center gap-x-6 gap-y-2 md:mb-0">
        <span class="text-[10px] mt-1 md:mt-0 text-gray-400 uppercase font-bold tracking-tighter">Średnia opinia w </span>
        
        <div class="flex items-center gap-3">
          <span class="text-xl font-black text-[#002B49] tracking-tighter">Google</span>
          <div class="flex items-center gap-1">
            <div class="flex text-orange-400 text-xs">★★★★★</div>
            <span class="text-gray-900 font-bold text-xs ml-1">5.0</span>
          </div>
        </div>

        <span class="text-[11px] text-gray-500 font-medium hidden sm:block">
          w tworzeniu stron www
        </span>
      </div>
    )}

    <a href="/kontakt/" class="flex items-center gap-3 group text-gray-900 font-extrabold text-[11px] uppercase tracking-widest hover:text-orange-600 transition-colors  hidden md:block">
      Bezpłatna konsultacja
      <span class="text-orange-600 text-lg -translate-y-0.5 group-hover:translate-x-1 transition-transform">»»»</span>
    </a>
  </section>
