---
const { title, lead } = Astro.props;
---

 
<section class="relative pt-28 pb-32 md:pt-42 md:pb-78">
  <div class="pointer-events-none absolute inset-y-0 left-1/2 w-screen -translate-x-1/2 bg-black"></div>
  <div class="relative space-y-4 mx-auto max-w-3xl">
        <div class="text-[8px] uppercase tracking-[0.1em] text-gray-500 mb-3 md:mb-4 font-semibold">
        <span>Główna</span>
        <span class="text-orange-600">></span>
        <span class="text-white">{title}</span>
      </div>
    <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold tracking-tight text-white">
      {title}
    </h1>
  </div>
</section>

