---
const { title, lead, tags, date } = Astro.props;
const formattedDate = date ? new Date(date).toLocaleDateString('pl-PL', {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit'
}) : null;
---

 
<section class="relative pt-28 pb-24 md:pt-42 md:pb-82">
  <div class="pointer-events-none absolute inset-y-0 left-1/2 w-screen -translate-x-1/2 bg-black"></div>
  <div class="relative space-y-4 mx-auto max-w-2xl">
        <div class="text-[8px] md:text-[10px] uppercase tracking-[0.1em] text-gray-400 mb-3 md:mb-6 font-semibold">
        <span>Główna</span>
        <span class="text-[var(--accent)]"> > </span>
        <span class="text-white"> {title}</span>
      </div>
    <h1 class="text-2xl sm:text-3xl/4 md:text-4xl lg:text-5xl font-semibold tracking-tight text-white">
      {title}
    </h1>

  <div class="max-w-2xl">

  <div class="flex flex-wrap gap-x-8 gap-y-2 pt-4 mt-4 md:pt-8 md:mt-8 border-t border-white/15 font-semibold text-[8px] md:text-[10px] tracking-[0.15em] uppercase">
    {tags && tags.length > 0 && (
      <div class="text-gray-400">
        Kategoria <span class="text-[var(--accent)]"> > </span> <span class="text-white">{tags[0]}</span>
      </div>
    )}
    {formattedDate && (
      <div class="text-gray-400 hidden md:block">
        Opublikowano <span class="text-[var(--accent)]"> > </span> <span class="text-white">{formattedDate}</span>
      </div>
    )}
    <!--
    <div class="text-gray-400">
      4 minuty czytania
    </div>
     -->
  </div>
</div>

  </div>
</section>
